body {
    background-color: #2e2361;
}

h2 {
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.3px black;
}


.flexbox-container1 {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-item{
    width: 200px;
    margin: 10px;
    /* border: 3px solid #333;
    background-color: #dfdfdf; */
}

.flexbox-item-logo{
    max-width: 500px;
    max-height: 500px;
    min-height: 100px;
}

.flexbox-item-textbox{
    min-height: 100px;
    min-width: 400px;
    justify-content: center;
    align-items: center;
}





/* Used to put graphs and display item price*/
.flexbox-container3 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    
}


.flexbox-item-graph{
    min-height: 400px;
    min-width: 60%;
    background-color: #403477;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}

.flexbox-item-price{
    min-height: 200px;
    min-width: 30%;
    background-color: gray;
    background-color: #403477;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}






input[type=text]{
    width:100%;
    text-align: center;
    border:2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8x;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

th, td {
    /* border:1px solid black; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
} 

table {
    border-collapse: collapse;
  }
  
table tr {
    border-bottom: 2px solid rgb(255, 255, 255);
}
  
table tr:last-child {
    border: 0;
}

#textbox{
    height:3.5ex;
    font-size:14pt;
}

img {max-width:100%;}