<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Balls Website</title>
</head>

<body>

    <form action="/" method="post">
        <p>Name: </p>
        <input autocomplete="off" list="validItems" type="text" placeholder="Item name" name="itemInput"/>
        <datalist id="validItems">
            {% for row in listOfItems %}
            <option value="{{row}}">
            {% endfor %}
        </datalist>
    </form>


    <p style="text-align:center">{{ itemName }}</p>
    <div>
        <canvas id="myChart" width="400" height="100"></canvas>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script>
   const ctx = document.getElementById('myChart').getContext('2d');
   const myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{ times | safe}}, 
          datasets: [{
              label: 'Price History',
              data: {{ prices | safe}}, // Data on Y axis
              borderWidth: 1,
              borderColor: "rgb(75, 192, 192)",
              fill: false,
              lineTension: 0.1,
          }]
      },

    
   });
   </script>

    <table>

        <tr>
            <th>Item Name</th>
            <th>Lowest Price</th>
            <th>Average Price</th>
            <th>Highest Price</th>
        </tr>


        {% for row in foundItems %}
        <tr>
            <td>{{row.getName()}}</td>
            <td>${{row.getLowestPrice()}}</td>
            <td>${{row.getAveragePrice()}}</td>
            <td>${{row.getHighestPrice()}}</td>
        </tr>
        {% endfor %}
        

    </table>

</body>
</html>
