<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balls Website</title>
</head>

<style>
    table, th, td {
    border:1px solid black;
    }
    </style>

<body>
    <p>Showing all shops for all</p>

    <table>

        <tr>
            <th>Item Name</th>
            <th>Lowest Price</th>
            <th>Highest Price</th>
        </tr>


        {% for row in listOfItemPrices %}
        <tr>
            <td>{{row.getName()}}</td>
            <td>${{row.getLowestPrice()}}</td>
            <td>${{row.getHighestPrice()}}</td>
        </tr>
        {% endfor %}
        

    </table>

</body>
</html>
