<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balls Website</title>
</head>

<style>
    table, th, td {
    border:1px solid black;
    }
    </style>

<body>
    <p>Showing all shops for all</p>

    <table>

        <tr>
            <th>Highest Price</th>
            <th>Average Price</th>
            <th>Lowest Price</th>
        </tr>

        <tr>
            <th>{{highestPrice}}</th>
            <th>{{averagePrice}}</th>
            <th>{{lowestPrice}}</th>
        </tr>

    </table>



    <!-- <p>Price</p>
    {% for row in data %}

    <p>{{row[0]}}</p>

    {% endfor %} -->

</body>
</html>