<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Cynagen Price Viewer</title>
</head>

<body>

    <div class="flexbox-container1">
        <div class="flexbox-item-logo">
            <img src="/static/assets/PriceCheckerLogo2.png" alt="Cynagen Price Checker Logo" style="width:500px;height:250px;">
        </div>
    </div>
    



    <div class="flexbox-container2">
        <div class="flexbox-item-textbox">
            <form action="#" method="post">
                <input id="textbox" autocomplete="off" list="validItems" type="text" placeholder="Search item" name="itemInput"/>
                <datalist id="validItems">
                    {% for row in listOfItems %}
                    <option value="{{row}}">
                    {% endfor %}
                </datalist>
            </form>
        </div>
    </div>

    


    <!-- <table>

        <tr>
            <th>Item Name</th>
            <th>Lowest Price</th>
            <th>Average Price</th>
            <th>Highest Price</th>
        </tr>


        {% for row in listOfItemPrices %}
        <tr>
            <td>{{row.getName()}}</td>
            <td>${{row.getLowestPrice()}}</td>
            <td>${{row.getAveragePrice()}}</td>
            <td>${{row.getHighestPrice()}}</td>
        </tr>
        {% endfor %}
        

    </table> -->

</body>
</html>
